<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="css/style.css?v=2">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <script type="text/x-handlebars">
    {{#view App.View.SummaryView}}
        <h1>{{project.name}}</h1>
    {{/view}}
    
    {{#collection contentBinding="App.DevelopersController" tagName="ul"}}
        <h2>{{content.name}}</h2>
        <img {{bindAttr src="content.avatarUrl"}} alt="Avatar"/>
    {{/collection}}
  </script>
  
<!--  <script type="text/x-handlebars" data-template-name="developer">
      <h2>{{content}}</h2>
    {{#with content}}
      <h2>{{name}}</h2>
      <img {{bindAttr src="avatarUrl"}} alt="Avatar"/>
    {{/with}}
  </script>
-->
  <!-- The missing protocol means that it will match the current protocol, either http or https. If running locally, we use the local jQuery. -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
  <script src="js/libs/ember-0.9.8.1.js"></script>
  <script src="js/config.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
